#logo {
	position: fixed;
	z-index: 0;
	opacity: .2;
	margin-top: 3rem;
	margin-left: 12.3rem;
}

#brand {
	z-index: 1;
	position: relative;
}

a.group:after {
	font-family: "Material Icons";
	content: '\E8FF';
	margin-left: 3px;
	vertical-align: middle;
}

.section {
	padding-top: 0;
}

.section:first-child {

}

/*.section > .section-title:before {
	font-family: "Material Icons";
	content: '\E5CC';
	margin-right: 5px;
	vertical-align: middle;
}*/

.table-of-contents a.active {
	border-left-color: #039be5 !important;
}

.table-of-contents a:hover {
	border-left-color: #bbdefb;	
}

#jpButton {
	position: fixed;
	left:1800px;
	top:880px;
}

nav.top-nav {
	height: 120px;
}

nav.top-nav a.page-title {
	font-size: 2.5rem;
	line-height: 120px;
}

nav.top-nav a.validation-link {
	font-size: 1.5rem;
	line-height: 120px;
	position: absolute;
    right: 0px;
    padding-right: 180px;
}

#version {
	position: absolute;
	top:55px;
	left: 1px;
	font-size: 1.25rem;
}


